.articles {
  display: flex;
  justify-content: space-between;
}

.articles__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(50% - 15px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.articles__item {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: $tablet-width) {
  .articles {
    flex-direction: column;
    flex-shrink: 0;
  }

  .articles__list {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .articles__item {
    flex-shrink: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: $mobile-width) {
  .articles__list {
    margin-bottom: 40px;
  }

  .articles__item {
    margin-bottom: 40px;
  }
}
