.catalog__container {
  box-sizing: border-box;
  display: flex;
  max-width: 1230px;
  margin: 0 auto;
  padding: 80px 15px 0 30px;
}

.catalog__cards {
  max-width: 900px;
  width: 100%;
  margin-left: 35px;
}

.catalog__button-filters {
  display: none;
}

@media (max-width: $tablet-width) {
  .catalog__container {
    flex-direction: column;
    padding: 50px 30px 0;
  }

  .catalog__cards {
    max-width: none;
    margin-left: 0;
  }

  .catalog__button-filters {
    display: block;
    width: calc(100% - 30px);
    margin: 0 auto 50px;
  }
}

@media (max-width: $mobile-width) {
  .catalog__container {
    padding: 40px 0 0;
  }

  .catalog__button-filters {
    margin: 0 auto 40px;
  }
}
