.faq {
  max-width: 970px;
  margin: 0 auto;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faq__item {
  box-sizing: border-box;
  border: 1px solid #a87b62;

  &:not(:last-child) {
    border-bottom: none;
  }
}

.faq__question {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: 0;
  padding: 43px 122px 44px 42px;
  font-family: "Poppins Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 42px;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-triangle-bottom.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 10px;
  }

  &--opened {
    padding-bottom: 8px;

    &::after {
      transform: rotate(180deg);
    }
  }
}

.faq__answer {
  display: none;

  &--opened {
    display: block;
  }
}

.faq__answer-text {
  box-sizing: border-box;
  max-width: 570px;
  margin: 0;
  padding: 0 0 41px 50px;
  font-size: 16px;
  line-height: 21px;
}

@media (max-width: $tablet-width) {
  .faq__item {
    &--opened {
      padding-bottom: 32px;
    }
  }

  .faq__question {
    padding: 43px 90px 44px 49px;

    &::after {
      top: 40px;
      right: 46px;
      background-size: 25px 16px;
    }

    &--opened {
      padding-bottom: 26px;
    }
  }

  .faq__answer-text {
    max-width: 600px;
    padding: 0 0 44px 50px;
  }
}

@media (max-width: $mobile-width) {
  .faq__question {
    padding: 18px 55px 19px 24px;
    font-size: 16px;
    line-height: 22px;

    &::after {
      top: 13px;
      right: 19px;
      background-size: 22px 13px;
    }

    &--opened {
      padding-top: 16px;
      padding-bottom: 14px;

      &::after {
        top: 14px;
      }
    }
  }

  .faq__answer-text {
    padding: 0 60px 19px 24px;
    font-size: 14px;
    line-height: 20px;
  }
}
