.gallery {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .gallery {
    min-height: 240px;
  }
}

@media (max-width: $mobile-width) {
  .gallery {
    flex-direction: column;
    align-items: flex-start;
  }

  .gallery__left {
    margin-bottom: 3.103448%;
  }
}
