.gallery-normal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 56.410256%;
}

.gallery-normal__left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 34.848485%;
}

.gallery-normal__right {
  display: flex;
  flex-direction: column;
  width: 60.606061%;
}

.gallery-normal__picture {
  flex-shrink: 0;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &:not(:last-of-type) {
    margin-bottom: 13.043478%;
  }

  &--large {
    width: 100%;
    flex-shrink: 0;

    &:not(:last-of-type) {
      margin-bottom: 7.5%;
    }
  }
}

@media (max-width: $tablet-width) {
  .gallery-normal {
    display: flex;
    // width: 382px;
    width: 56.342183%;
  }

  .gallery-normal__left {
    width: 34.816754%;
  }

  .gallery-normal__right {
    width: 60.471204%;
  }

  .gallery-normal__picture {
    &:not(:last-child) {
      margin-bottom: 13.533835%;
    }
  }
}


@media (max-width: $mobile-width) {
  .gallery-normal {
    flex-shrink: 0;
    width: 100%;
  }

  .gallery-normal__left {
    width: 44.827586%;
  }

  .gallery-normal__right {
    width: 50%;
  }

  .gallery-normal__picture {
    &:not(:last-child) {
      margin-bottom: 11.538462%;
    }

    &--large {
      position: static;

      img {
        position: static;
        top: auto;
        left: auto;
      }
    }
  }
}
