.gallery-masonry {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 41.025641%;
}

.gallery-masonry__left,
.gallery-masonry__right {
  display: flex;
  flex-direction: column;
  width: 48.333333%;
}

.gallery-masonry__picture {
  box-sizing: border-box;
  flex-shrink: 0;

  img {
    display: block;
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
  }

  &:not(:last-of-type) {
    margin-bottom: 12.931034%;
  }

  &--right-top {
    padding-left: 14px;
  }

  &--left-bottom {
    padding-right: 14px;
  }
}

@media (max-width: $tablet-width) {
  .gallery-masonry {
    width: 41.00295%;
  }

  .gallery-masonry__left,
  .gallery-masonry__right {
    width: 48.201439%;
  }

  .gallery-masonry__picture {
    &:not(:last-of-type) {
      margin-bottom: 13.432836%;
    }

    &--right-top {
      padding-left: 8px;
    }

    &--left-bottom {
      padding-right: 8px;
    }
  }
}

@media (max-width: $mobile-width) {
  .gallery-masonry {
    width: 100%;
  }

  .gallery-masonry__left {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .gallery-masonry__right {
    display: none;
  }

  .gallery-masonry__picture {
    margin-bottom: 18px;

    &:nth-child(n) {
      margin-bottom: 5.172414%;
    }

    &--left-top {
      width: 50%;
    }

    &--left-bottom {
      width: 44.827586%;
      padding: 0;
      padding-top: 2.068966%;
    }
  }
}
