.page-counter {
  display: flex;
  justify-content: center;
  font-family: $poppins-medium;
}

.page-counter__number,
.page-counter__separator {
  font-family: $poppins-medium;
  font-size: 16px;
  line-height: 21px;
}

.page-counter__number {
  width: 50px;

  &--current {
    text-align: right;
  }
}

.page-counter__separator {
  margin: 0 10px;
}
