.pagination__button {
  box-sizing: border-box;
  padding: 0 6px;
  font-family: "Poppins Medium", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $grey;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--active {
    color: $black;
  }
}
