.product__container {
  box-sizing: border-box;
  display: flex;
  max-width: 1230px;
  padding: 70px 45px 0 30px;
  margin: 0 auto;
}

.product__wrapper {
  max-width: 1070px;
  width: 100%;
  display: flex;
  margin-right: auto;
}

.product__gallery {
  margin-right: auto;
}

.product__info {
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .product__container {
    padding: 20px 45px 0 38px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .product__container {
    max-width: 420px;
    padding: 0 15px;
  }

  .product__wrapper {
    flex-direction: column;
    width: 100%;
  }
}
