.promo {
  min-height: 235px;
  background-color: #624432;

  &--main {
    min-height: 463px;
    background-image: url("../img/background-promo-main-desktop@1x.jpg");
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .promo {
    &--main {
      background-image: url("../img/background-promo-main-desktop@2x.jpg");
    }
  }
}

.promo__container {
  max-width: 500px;
  margin: 0 auto;
  padding: 92px 0 94px;
  text-align: center;

  &--main {
    padding: 181px 0;
  }
}

.promo__title,
.promo__slogan {
  color: #ffffff;
}

.promo__title {
  margin: 0 0 2px 0;
  font-family: "Cormorant Garamond Bold", "Times New Roman", serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
  opacity: 0.44;

  &--main {
    margin: 0;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.03em;
    opacity: 1;
  }
}

.promo__slogan {
  margin: 0;
  padding: 0 0 0 4px;
  font-family: "Cormorant Garamond Medium Italic", "Times New Roman", serif;
  font-size: 22px;
  line-height: 29px;
  font-style: italic;
  font-weight: 500;

  &--main {
    margin-top: -6px;
    padding: 0;
    font-family: "Cormorant Garamond Italic", "Times New Roman", serif;
    font-size: 38px;
    line-height: 49px;
    font-weight: normal;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    &--main {
      background-image: url("../img/background-promo-main-tablet@1x.jpg");
    }
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .promo {
      &--main {
        background-image: url("../img/background-promo-main-tablet@2x.jpg");
      }
    }
  }

  .promo__container {
    &--main {
      padding-right: 18px;
    }
  }

  .promo__title {
    font-size: 38px;
    line-height: 49px;

    &--main {
      font-size: 45px;
      line-height: 58px;
    }
  }

  .promo__slogan {
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    &--main {
      background-image: url("../img/background-promo-main-mobile@1x.jpg");
      background-position: center;
      background-size: cover;
    }
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .promo {
      &--main {
        background-image: url("../img/background-promo-main-mobile@2x.jpg");
      }
    }
  }

  .promo__container {
    padding: 79px 20px 84px;

    &--main {
      padding: 189px 20px 187px;
    }
  }

  .promo__title {
    font-size: 34px;
    line-height: 44px;

    &--main {
      font-size: 38px;
      line-height: 49px;
    }
  }

  .promo__slogan {
    font-size: 22px;
    line-height: 26px;

    &--main {
      margin-top: -7px;
      font-size: 34px;
      line-height: 44px;
    }
  }
}
