.section__container {
  box-sizing: border-box;
  max-width: 1230px;
  margin: 0 auto;
  padding: 120px 30px 0;

  &--blog {
    padding: 116px 30px 0;
  }

  &--gallery {
    padding: 111px 30px 155px;
  }
}

.section__header {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto 55px;
  text-align: center;

  &--blog,
  &--gallery,
  &--extra {
    margin-bottom: 60px;
  }

  &--no-source-link {
    margin-bottom: 48px;
  }
}

.section__title {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0 0 24px;

  &--blog {
    margin-bottom: 19px;
  }

  &--extra {
    margin-bottom: 19px;
  }

  &--at {
    margin-bottom: 17px;
  }
}

.section__title-at {
  display: inline-block;
  font-size: 42px;
  line-height: 55px;
}

@media (max-width: $tablet-width) {
  .section__container {
    padding: 70px 45px 0;

    &--blog {
      padding-top: 66px;
    }

    &--gallery {
      padding-top: 65px;
      padding-bottom: 80px;
    }
  }

  .section__header {
    margin: 0 auto 50px;

    &--blog,
    &--gallery,
    &--extra {
      margin-bottom: 60px;
    }

    &--no-source-link {
      margin-bottom: 48px;
    }
  }

  .section__title {
    margin-bottom: 19px;

    &--at {
      margin-bottom: 17px;
    }
  }
}

@media (max-width: $mobile-width) {
  .section__container {
    padding: 60px 15px 0;

    &--blog {
      padding-top: 55px;
    }

    &--gallery {
      padding-top: 51px;
      padding-bottom: 53px;
    }

    &--extra {
      padding-top: 56px;
      padding-bottom: 65px;
    }
  }

  .section__header {
    margin: 0 auto 40px;

    &--blog {
      margin-bottom: 50px;
    }

    &--gallery {
      margin-bottom: 46px;
    }

    &--no-source-link {
      margin-bottom: 28px;
    }
  }
}
