.subscribe {
  box-sizing: border-box;
  width: 520px;
  margin-right: 70px;
  padding-left: 15px;
}

.subscribe__title {
  display: inline-block;
  margin-bottom: 9px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe__text {
  padding-left: 6px;
  margin: 0;
  margin-bottom: 33px;
  color: #9b9997;
}

@media (max-width: $tablet-width) {
  .subscribe {
    width: 595px;
    margin: 0;
    margin-bottom: 41px;
    padding-left: 30px;
  }

  .subscribe__title {
    margin-bottom: 9px;
  }

  .subscribe__text {
    padding-left: 1px;
  }
}

@media (max-width: $mobile-width) {
  .subscribe {
    width: 100%;
    max-width: 520px;
    margin-bottom: 41px;
    padding: 0 10px 0 15px;
  }

  .subscribe__title {
    margin-bottom: 13px;
    padding: 0 80px 0 0;
  }

  .subscribe__text {
    line-height: 22px;
    margin-bottom: 30px;
    padding: 0 60px 0 0;
  }
}
