.user-nav {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-right: 30px;
  list-style: none;
}

@media (max-width: $tablet-width) {
  .user-nav {
    width: 40px;
    margin-top: 13px;
    margin-left: 3px;
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .user-nav {
    margin-top: 6px;
  }
}
