html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $black;
}

* {
  outline: none;
}

img {
  max-width: 100%;
  border-style: none;
}
