$mobile-width: 767px;
$tablet-width: 1023px;
$poppins: "Poppins", "Arial", sans-serif;
$poppins-medium: "Poppins Medium", "Arial", sans-serif;
$poppins-bold: "Poppins Bold", "Arial", sans-serif;
$cormorant-bold: "Cormorant Garamond Bold", "Times New Romas", serif;
$cormorant-semibold: "Cormorant Garamond SemiBold", "Times New Roman", serif;
$black: #1d1613;
$grey: #9b9997;
